/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /*
Source - https://stackoverflow.com/a/10768631
Posted by Rab Khan, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-19, License - CC BY-SA 4.0

body {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='currentColor' class='bi bi-0-square-fill' viewBox='0 0 16 16'><path d='M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895'/><path d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm5.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99'/></svg>");
}
*/


ul.card-list {
  max-height: 300px;
  overflow: auto;
}

#three-columns {
  height: 300px;
}

.col-arrow {
  max-width: 80px;
}

#three-columns.row > .col > a {
  text-decoration: none;
  color: #111;
  width: 100%;
  display: block;
}

#three-columns.row > .col > a:hover {
  background-color: #eee;
}

#three-columns.row > .col > a.cm-active {
  background-color: #eee;
  font-weight: 600;
}

#certificate-contents{
  white-space:pre-wrap;
}