%h1 Certificates

= render partial: "layouts/certificates", locals: {root_certificate: @root_certificate, intermediate_certificate: @intermediate_certificate}

%h3
  = "Server certificate details (#{@certificate.name})"