
.card-group
  = render partial: "layouts/card", locals: {certificate_type: :root, selected_certificate: root_certificate, certificates: Current.user.root_certificates, new_path: new_certificates_root_path}
  = render partial: "layouts/card", locals: {certificate_type: :intermediate, selected_certificate: intermediate_certificate, certificates: root_certificate.new_record? ? nil : root_certificate.children, new_path: new_certificates_root_path}
  = render partial: "layouts/card", locals: {certificate_type: :server, selected_certificate: server_certificate, certificates: intermediate_certificate.new_record? ? nil : intermediate_certificate.children, new_path: new_certificates_root_path}
